<!-- Bootstrap Navbar -->
<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Mean Docker</a>
  </div>
</nav>

<div class="container">
  <div [style.margin-top.px]="10" class="row">
    <h3>Add new person</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="name">email</label>
        <input type="text" class="form-control" id="email" #email>
      </div>
      <div class="form-group">
        <label for="age">password</label>
        <input type="text" class="form-control" id="password" #password>
      </div>
      <div class="form-group">
        <label for="age">firstName</label>
        <input type="text" class="form-control" id="firstName" #firstName>
      </div>
      <div class="form-group">
        <label for="age">lastName</label>
        <input type="text" class="form-control" id="lastName" #lastName>
      </div>
      <div class="form-group">
        <label for="age">gender</label>
        <input type="text" class="form-control" id="gender" #gender>
      </div>
      <div class="form-group">
        <label for="age">birthDate</label>
        <input type="text" class="form-control" id="birthDate" #birthDate>
      </div>
      <div class="form-group">
        <label for="age">uvaStudent</label>
        <input type="text" class="form-control" id="uvaStudent" #uvaStudent>
      </div>
      <div class="form-group">
        <label for="age">addrStreet</label>
        <input type="text" class="form-control" id="addrStreet" #addrStreet>
      </div>
      <div class="form-group">
        <label for="age">addrCity</label>
        <input type="text" class="form-control" id="addrCity" #addrCity>
      </div>
      <div class="form-group">
        <label for="age">addrZip</label>
        <input type="number" class="form-control" id="addrZip" #addrZip>
      </div>
      <div class="form-group">
        <label for="age">phoneNumber</label>
        <input type="text" class="form-control" id="phoneNumber" #phoneNumber>
      </div>
      <div class="form-group">
        <label for="age">hasAgreedToWaiver</label>
        <input type="text" class="form-control" id="hasAgreedToWaiver" #hasAgreedToWaiver>
      </div>
      <button type="button" (click)="addPerson(email.value,password.value,firstName.value,lastName.value, gender.value,
      birthDate.value,
      uvaStudent.value,
      addrStreet.value,
      addrCity.value,
      addrZip.value,
      phoneNumber.value,
      hasAgreedToWaiver.value,
      { type: 'semester',
      pricePaid: 50})" class="btn btn-primary">Add person</button>
    </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>People</h3>
    <!-- Bootstrap Card -->
    <div [style.margin-right.px]="10" class="card card-block col-md-3" *ngFor="let person of people">
      <h4 class="card-title">{{person.firstName}} {{person.lastName}}</h4>
    </div>
  </div>
</div>
