<div class="jumbotron">
  <h1 class="display-4">Thank You!</h1>
  <p class="lead">Thank you for signing up for an Outdoors at UVa club account!</p>
  <hr class="my-4">
  <p>Your account will be activated within 24 hours and be accessable at
    <a href="http://www.outdoorsatuva.org">www.outdoorsatuva.org</a>
  </p>
  <div class="alert alert-warning" role="alert">
    Please check your spam filter for an email adding you to our mailing list! You must click on the link in the email.
  </div>
  <a class="btn btn-primary btn-lg" href="http://www.outdoorsatuva.org" role="button" target="blank">Take me there!</a>
</div>
