/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.no-pad {
  padding: 0px !important;
}

p {
  font-family: Lato;
}

.odc-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.odc-full-width {
  width: 100%;
}

.align-right {
  text-align: right;
}
