<mat-horizontal-stepper linear="true" #stepper>
  <!-- Change to true for real site -->
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Create a login</ng-template>
    <app-step-one [stepper]="stepper"></app-step-one>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Fill out your address</ng-template>
    <app-step-two></app-step-two>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>Sign the waiver</ng-template>
    <app-step-three></app-step-three>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <ng-template matStepLabel>Select a plan</ng-template>
    <app-step-four></app-step-four>
  </mat-step>
</mat-horizontal-stepper>
