<mat-card>
  <mat-card-title>
    Purchase a Membership!
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="fourthFormGroup">
      <mat-form-field>
        <mat-select placeholder="Membership" formControlName="plan">
          <mat-option *ngFor="let plan of memberships" [value]="plan.value">
            {{ plan.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <!-- <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;"> -->
    <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
    <div id="paypal-checkout-btn"></div>
  </mat-card-content>
</mat-card>
