<mat-card>
  <mat-card-title>
    <strong>
      TERMS OF PARTICIPATION, RELEASE AND INDEMNITY AGREEMENT
    </strong>
  </mat-card-title>
  <mat-card-content>
    <p>
      In consideration of the benefits received from being a member of Outdoors at UVa, Ltd. and as a condition to participating
      in its activities, I agree for myself, my personal representatives, heirs, and assigns, as follows:
      <br> I understand that the outdoor activities sponsored by Outdoors at UVa, Ltd. involve risk of serious bodily injury
      and even death. I understand and recognize that there are dangers and risks involved in outdoor activities, which often
      occur at locations that are both distant from and inaccessible to doctors, hospitals, and emergency medical care. The
      activities often take place on rough terrain where there is a lack of shelter from inclement weather, including thunderstorms,
      snow, freezing temperatures, high temperatures, and high humidity, all of which are subject to sudden and unforecasted
      changes.
      <br> Some of the activities, such as canoeing, rafting, rock climbing, wilderness hiking, mountain biking, trail running,
      backpacking, kayaking, caving, skiing, snowboarding, and others are inherently dangerous. I am not relying on Outdoors
      at UVa, Ltd., for training or instruction, for safety equipment or protection, and I acknowledge that I alone am responsible
      for knowing and judging my own limitations and abilities before undertaking any club activity. Likewise, I am responsible
      for providing, and utilizing, any and all appropriate safety equipment for any club activities. Appropriate safety
      equipment must be used AT ALL TIMES.
      <br> I understand and recognize the risks described above and that other unidentified risks may exist, when I engage
      in Outdoors at UVa, Ltd. activities. I <strong>RELEASE AND DISCHARGE</strong> Outdoors at UVa, Ltd., its directors,
      officers, members, representatives and agents, from any and all liability associated with my participation in club
      activities and acknowledge that by my signature below, including injuries or death due to their negligence, gross negligence
      or product liability associated with the use of any equipment provided by the club or its members. I assume the risks
      of injury and death arising from my participation in any club activities, including those risks attendant to travel
      to or from club activities.

      <br> I understand and recognize that no club member may operate any vehicle for use in conjunction with Outdoors at
      UVa, Ltd. activities without a current, valid drivers license, and unless they have liability insurance in place. I
      further understand and recognize that I may not operate any vehicle during Outdoors at UVa, Ltd. activities under the
      influence of alcohol or drugs. By my signature below, I affirm and acknowledge that ALCOHOL OR DRUG USE DURING CLUB
      ACTIVITIES IS STRICTLY PROHIBITED.
      <br>
      <br><strong>I agree to INDEMNIFY AND HOLD HARMLESS Outdoors at UVa, Ltd., its directors, officers, members representatives
        and agents from any and all liability, including attorney’s fees and court costs, arising from any injury or death
        arising from my negligence, in whole or in part, or otherwise from my participation in Outdoors at UVa, Ltd. activities.</strong>
      <br>
      <strong>BY SIGNING BELOW, I ACKNOWLEDGE THAT I HAVE READ, UNDERSTOOD, AND VOLUNTARILY SIGNED THIS RELEASE AND INDEMNIFICATION
        AGREEMENT AND AGREE TO BE BOUND BY ITS TERMS. I UNDERSTAND THAT THIS IS A LEGAL AND ENFORCEABLE AGREEMENT THAT IS
        BINDING ON ME AND MY HEIRS.
      </strong>
    </p>
    <form [formGroup]="thirdFormGroup">
      <mat-checkbox required formControlName="waiver">I have read and agree to the terms and conditions above</mat-checkbox>
    </form>
  </mat-card-content>
  <mat-card-actions class="row">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext class="float-right" (click)="submit()" [disabled]="!thirdFormGroup.valid">Next</button>
  </mat-card-actions>
</mat-card>
